# compiled output
/dist

# misc
/node_modules
/.vprofile-demo-aws-LiftAndShift
/VM/.vagrant/

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# IDEs and editors
/.idea
.project
*.launch
.settings/
.vscode/*

aws.env